@page
@model Week7tut.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.StudentEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.StudentEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Students.StudentPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Students.StudentPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Students.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
